modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 25037
externalPort = 3000

[[ports]]
localPort = 25038
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DATABASE_MODE = "SIMULATION"
STRIPE_PRICE_PER_SEAT = "price_1TKtAi8cb0N6uYd9T9uJw3gx"
STRIPE_PRICE_EXCESS_USAGE = "price_1TKs2j8cb0N6uYd9NVbWGPY7"
STRIPE_METER_ID = "mtr_test_61UUF4O0O1Rtym5JO418cb0N6uYd9HU0"
STRIPE_PRICE_SUBSCRIPTION = "price_1TKriY8cb0N6uYd9K01eMDdx"
ONBOARDING_PRICE_ID = "price_1TKwod9aGsy5kFWkRGkCu61m"
